/* .NavbarItems {
  background-color: rgba(250, 250, 250, 0.164);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border-radius: 15px;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}
.fa-book {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 2rem;
} */
