.NavbarItems {
  position: sticky;
  background: rgba(0, 2, 2, 0.562);
  margin: auto;
  margin-top: 1%;
  width: 100%;
  height: 80px;
  display: inline-flex;
  align-items: center;
  border-radius: 15px;
  margin-bottom: 3%;
}

.navbar-logo {
  position: relative;
  color: #fff;
  margin: auto;
  cursor: pointer;
  text-align: center;
  left: 5%;
}

.fa-book {
  position: relative;
  font-size: 2rem;
}

.navbar h5 {
  align-items: flex-end;
  color: #fff;
}

.nav-Links {
  margin-right: 30px;
  color: #fff;
}
